
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
   font-family: 'Nunito sans', sans-serif;
  background-image: url(/images/EUI-logo-acronym.svg);
  background-repeat: no-repeat;
  background-size: 10%;
}

.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}
